body, html {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(22, 189, 255), rgb(129, 219, 255));  
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

main p {
    margin: 0;
}
.bleu {
    padding-top: 10px;
    padding-bottom: 80px;
    background: linear-gradient(to right, rgb(22, 189, 255), rgb(129, 219, 255));  
}

.vert {
    background: linear-gradient(to right, rgb(22, 241, 77), rgb(129, 255, 167));
}
.rouge {
    background: linear-gradient(to right, rgb(255, 62, 62), rgb(255, 126, 126));
}

.form {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 5px / 5px;
    padding: 15px;
    font-size: 3em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 10px 0;
}

.form--2 {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 5px / 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    width: 250px;
    padding: 10px;


}

.affichage {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    min-height: 30px ;
    
}


.touche {
    width: 70px;
    background: linear-gradient(to right, rgba(190, 0, 165, 0.9), rgb(146, 0, 160, 0.8) );
    color: white;

    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 15px 15px;
}

.touche--clear {
    font-size: 1.5em;
    padding: 10px 0;
    width: 90%;
}

.touche--valider {
    font-size: 2em;
    width: 90%;
    padding: 15px 0;
    background: linear-gradient(to right, rgba(0, 190, 0, 0.9), rgba(0, 195, 10, 0.8) );
}
button {
    border : none;
    font-size: 0.3em;
    margin: 20px;
    padding: 5px 15px;
    border-radius: 5px 5px;
    background: linear-gradient(to right, rgb(131, 37, 253), rgb(255, 100, 183));
    color: white;

    box-shadow: grey 1px 5px 5px;
}

button:hover {
    background: linear-gradient(to right, rgb(156, 80, 255), rgb(255, 141, 202));
}

button:active {
    background: linear-gradient(to right, rgb(131, 37, 253), rgb(255, 100, 183));
    box-shadow: none;
}
